GOOGLE_APPLICATION_CREDENTIALS=
GOOGLE_TOKEN_FILE=  # path to OAuth token json (used by calendar, gmail, etc)
DEFAULT_EMAIL=  # default email account to use for Gmail and Calendar operations
GOOGLE_CALENDAR_ID=
GOOGLE_CALENDAR_TIMEZONE=
DEFAULT_TIMEZONE=
DISCORD_BOT_TOKEN=
DISCORD_USER_ID=
DISCORD_ACTIVATION_WORD=
LANGSEARCH_KEY=

MODEL_PROVIDER=
OLLAMA_MODEL=
OLLAMA_NUM_CTX=
OLLAMA_ENDPOINT=
GEMINI_API_KEY=
OLLAMA_API_KEY=
GITHUB_TOKEN=

PINECONE_API_KEY=
PINECONE_NAMESPACE=
OPENAI_EMBED_MODEL=text-embedding-3-small
PINECONE_DIMENSION=1536
PINECONE_INDEX_NAME=